body {
    font-family: Avenir next;
    text-align: center;
}

header {
    background-color: #FA9309;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
}

button:active {
    transform: translateY(2px);
}

img {
    border-radius: 6px;
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-top: 0px;
    padding-top: 10px;
}